html, body {

    height: 100%;
}

.main {

    height: 100%;
}

footer {

    height: initial;
}

code {

    background-color: #ECECEC;
    border-radius: 3px;
    padding: 2px 8px;
    color: #D238B5;
}

pre,
p, ul, ol {

    margin-bottom: 20px;
}

h5 {

    font-size: 16px;
}

.author img {

    width: 35px;
}

.author .bio  {

    font-size: 13px;
    line-height: 15px;
}
